<h1>Cart#checkout</h1>

<% @order.order_items.each do | key, value | %>
	<ul>
		<li><%= Product.find(key).name %> - <%= value %></li>
	</ul>
<%end%>
<p>
	<b>Order Total: </b><%= number_to_currency @order.grand_total %>
</p>